* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Playfair;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
:root{
    --first-font-family: Playfair;
    --second-font-family: Poppins;
}


body {
    position: relative;
    height: 100vh;
    width: 100vw;

} 


 
/* nav {
    position: absolute;
    height: 3%;
    width: 100vw;
    border: 2px solid red;
} */

main{
    position: absolute;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    margin-left: 50%;
    width: 80%;
    height: 80%;
    border: 3px solid rebeccapurple;
    background-color: rgb(238, 239, 227);

}



nav ul {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    width: 80%;
    border: 2px solid blue;
}

nav ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    border: 1px solid yellow;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    padding: 10px;

}


.hero {
    position: absolute;
    width: 30%;
    height: 50%;
    margin-top: 10%;
    margin-left: 12%;

}

.hero h1{
    font-size: 3rem;
    font-family: var(--first-font-family);
    font-weight: 90;
    text-transform: uppercase;

}

.hero h1::first-letter{
    color: #7f5417;
    font-size: 5rem;
    letter-spacing: -3px;
    
}

p {
    font-family: var(--second-font-family);
    padding: 10px;
}


/* .hero{
    position: absolute;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    border: 4px dotted rgb(209, 212, 209);
    margin-right: 38%;
} */


main button{
    margin-top:15px;
    background-color: #FFAA36;
    font-size: 1rem;
    border: 2px solid #767676;
    padding:15px;
    border-radius: 35px;
    width: 300px;


}