*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root{
    --primary--background-color: red;
    --secondary--background-color: yellow;
    --third--background-color: rgb(111, 255, 0);
    --font-color: blue;
}

html{
    font-size: 20px;
}


h1{
    font-size: 4rem;
}

/* absolute units px  */

/* relativve units  rem, em, %, vw,vh */

/* em bezieth sich immer auf parents conteiner */


section {
    font-size: 20px;
    background-color: var(--secondary--background-color);
}

section p:nth-child(1){
    font-size: 2em;
}
/*  20*20 = 20px */
section p:nth-child(2){
    font-size: 3em;
}

section p:nth-child(3){
    font-size: 4em;
}

/* rem se ia tot timpul de la root html */
/* 5*40=200px */

section p:nth-child(4){
    font-size: 5rem;
}

/* 1*20=20 */
article p:nth-child(1){
    font-size: 1rem;
}
/* 2*20=40 */
article p:nth-child(2){
    font-size: 2rem;
}
/* 3*20=60 */
article p:nth-child(3){
    font-size: 3rem;
}

/* 4*20=80 */
article p:nth-child(4){
    font-size: 4rem;
}

/* vh = viewhight port -> bezieth sich auf die Browser höhe */

/* vw = viewhight port -> bezieth sich auf die Browser höhe */

/* 
div:nth-child(2){
    background-color: var(--secondary--background-color);
    margin-left: 20%;
    height: 100vh;
    width: 100vw;
}
div:nth-child(2){
    background-color: var(--secondary--background-color);
    margin-left: 20%;
    height: 100vh;
    width: 100vw;
}
div:nth-child(3){
    background-color: var(--third--background-color);
    height: 100px;
    width: 100px;
    margin-left: 5%;
} */

.img{
    height: 50%;
    width: 60%;
}

section .test img:nth-child(1){
    border: 14px solid red;
    width: 100%;
    height: 100%;

}

.test img:nth-child(2){
    height: 30%;
    width: 40%;
}

section img.test:nth-child(3){
    height: 5%;
    width: 5%;
}



/* % bezieth sich immer auf die parent conteiner */