h3 {
    color: green;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

/* ! Pseudo Selectoren */

section {
    width: 500px;
}

/* p-tag ist ein Block-Element -> ich nehme so viel horizontalen Platz ein, wie es mir zur Verfügung steht.
Ich nehmen standardmäßig die voll Breit des Containers, in dem ich sich befinden.
 */

/* ? nth-of-typ ist Element-typ abhänging */
section:nth-of-type(1) p:nth-of-type(4){
    background-color: aquamarine;
}

/* ? nth-child richtet sich immer an die Kinds-Elemente in einer Eltern Container */
section:nth-of-type(1) :nth-child(4){
    background-color: rgb(255, 106, 0);
}

section:nth-of-type(1) p:first-of-type{
    background-color: rgb(255, 0, 225);
}

section:nth-of-type(1) p:last-of-type{
    background-color: rgb(68, 0, 255);
}

/* ! even steht für jede zweite, gerade Zahl */
section:nth-of-type(2) p:nth-of-type(even){
    background-color: aquamarine;
}

/* ! odd steht für jede zweite, ungerade Zahl */
section:nth-of-type(2) p:nth-of-type(odd){
    background-color: rgb(255, 127, 240);
}

/* ! Backgroung Image */

div{
    width: 100%;
    min-height: 300px;
    background-image: url('../neom-FuusC7lfg6Q-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}