/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

main{
    font-family: monospace;
}
main div h1{
    text-align: center;
}





h1:hover{
    color: aquamarine;

}
h1{
    color: red;
}

div:nth-of-type(3) ul li:not(li:last-of-type){

    font-style: italic;
}

div:nth-of-type(3){
    
    background-color: aquamarine;
}


main div:last-of-type{
    text-align: center;
}
main div:nth-of-type(4){ 
    display: block;
    text-align: center;
    border: 3px solid turquoise;

    text-transform:uppercase;

} 


/* 
div:last-of-type{
    border: 3px solid turquoise;
    display: block;
    width: max-content;
    text-transform:uppercase;

} */
/* div:last-of-type:hover{
    
    font-size: 1.3rem;

    

} */