.contact-formular {
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    padding: 2rem;


}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;

}

form label span {
    color: red;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: rgb(127, 174, 255);
    border: none;
    height: 2rem;
    color: azure;
}

textarea {
    width: 97%
}

.name_style {
    width: 100%;
}

input[type="text"] {
    border-color: black;
    border-radius: 0px;

}