* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Cormorant-Garamond";
    src: url(../fonts/CormorantGaramond-Regular.ttf);
}

html {
    font-family: "Cormorant-Garamond";
    background-color: var(--color-01);
    color: var(--coloe-03);


}

:root {
    --color-01: #E9E9E0;
    --color-02: #737B80;
    --color-03: #333333;

}

/* grid-template-rows: repeat(5, 1fr); nu e bun pt row */

main {
    padding: 0.5rem 3rem;
    background-color: var(--color-01);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 5vw 5vw 5vw 20vw 30vw 30vw;
    grid-template-areas:
        "logo logo logo logo logo"
        "nav nav nav nav nav"
        "main-thema main-thema main-thema main-thema ad-header"
        "article1 article2 photo photo ads"
        "article3 article4 photo photo ads"
        "article5 article6 photo photo ads";
}

.logo {
    grid-area: logo;
    padding: 1rem 0;

}

.logo h1 {
    text-align: center;
    text-transform: uppercase;
}

.nav {
    grid-area: nav;

    align-self: center;
    padding: 0.5rem 0;
    border-bottom: 5px solid black;
    border-top: 5px solid black;


}

.nav ul {
    display: flex;
    gap: 1rem;
    justify-content: space-around;

}

.nav li {
    flex-direction: row;
    list-style: none;
}

.main-thema {
    background-color: rgb(39, 205, 205);
    grid-area: main-thema;
    text-align: center;
    padding: 1rem;
}

.main-thema h2 {
    font-size: 2.2rem;
    font-weight: 700;

}



.ad-header {
    grid-area: ad-header;
    align-self: center;
    /* aici cu align self imi face probleme */
}

.ad-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;

}


/* .blog {
    background-color: aqua;
    grid-area: blog;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 5vw 5vw 5vw 20vw 30vw 30vw;
    grid-area:
        "article1 article2"
        "article3 article4"
        "article5 article6";
    background-color: bisque;

} */

/* .blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

} */

.article1 {
    background-color: rgb(68, 137, 137);
    grid-area: article1;
}

.article2 {
    background-color: rgb(34, 51, 51);
    grid-area: article2;
}

.article3 {
    background-color: rgb(81, 68, 137);
    grid-area: article3;
}

.article4 {
    background-color: rgb(137, 68, 136);
    grid-area: article4;
}

.article5 {
    background-color: rgb(98, 68, 137);
    grid-area: article5;
}

.article6 {
    background-color: rgb(137, 116, 68);
    grid-area: article6;
}


.photo {
    background-color: rgb(47, 76, 76);
    grid-area: photo;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.photo img {
    width: 100%;
}


.ads {
    grid-area: ads;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.ad1 {
    border: 5px solid var(--color-03);
    grid-area: ad1;
    padding: 1rem;


}

.ad1 p {
    color: #333;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;

}

.ad2 {
    border: 5px solid var(--color-03);
    grid-area: ad2;
    padding: 0.3rem;
}

.ad3 {
    border: 5px solid var(--color-03);
    grid-area: ad3;
    width: 100%;
    align-self: center;
    display: block;

}