/* 
@font-face {
    font-family: 'RobotoBlack' src: url('..//fonts/Roboto-Black.ttf') format(.ttf);

} */

@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf");
}



/** Globale Stile für das HTML-Daokument */
body{
    @font-face {
        font-family: Roboto-Black;
        src: url('../');
    }

}

article p:nth-of-type(4){
    color: blue;
}

article p:{
    color: brown;
    font-family: "Roboto-Light";
    background-color: azure;

}

article p:nth-of-type(even):hover{
    color: aliceblue;
    cursor: all-scroll;
    font-size: xx-large;
}

li:last-of-type{
    color: brown;
}

li:first-of-type{
    color: blue;
}

li:nth-child(2){
    color: chartreuse;
}
h2:nth-of-type(2){
    color: brown;
    text-shadow: 10px 10px 2px black;
    font-size: 90px;
    text-decoration: underline;
}

article:nth-of-type(2) div{
    width: 100px;
    min-height: 200px;
    
    /* background-image: url('../img/shawnanggg-EdUBY912BGE-unsplash.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
    /* background-image: url('../img/shawnanggg-EdUBY912BGE-unsplash.jpg') center/contain no-repeat; */
    background-image: url('../img/shawnanggg-EdUBY912BGE-unsplash.jpg') contain/center; 

}