* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.css1 {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    border-bottom: 3px solid blueviolet;
    padding: 5%;

}

div {
    padding: 4%;
}