* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}


body {
    background-color: #D9E8E5;
    ;
}


nav {
    font-family: Lato;
    display: flex;
    background-color: white;
    height: 60px;
    color: black;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-left: 15px;
}

.menu {
    margin-left: 50px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.logo {
    margin-left: 20px;
    font-size: 24;
}

nav a {
    text-decoration: none;
    color: black;


}

img {
    justify-content: flex-start;
    margin-left: 30px;

}


ul {
    display: flex;
    width: 60vw;

    gap: 10px;

}

ul li {
    list-style: none;
    flex-direction: row;


}

.login {
    justify-content: flex-end;
    margin-right: 30px;
}









/* .flex__selection div:nth-of-type(1) {
  order: 2;
  align-self: flex-start;
  background-color: blue;
} */




.products {
    width: 80vw;
    border: 2px solid red;
    margin: 100px;
    justify-content: space-evenly;
}

.products ul {
    width: 80vw;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}




.products p {

    color: black;
    font-family: Lato;
    font-size: 2rem;
    padding: 30px;

}

.products li{
    position: relative;
}


.products li a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 10px;
    width: 340px;
    height: 230px;
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.products li:nth-of-type(1) {

    background-image: url(../img/ring001.jpg);
    background-size: cover;
    border: 2px solid yellow;

}


.products li:nth-of-type(1) {
    width: 340px;
    height: 230px;
    background-image: url(../img/ring001.jpg);
    background-size: cover;
    border: 2px solid yellow;

}

.products li:nth-of-type(2) {
    width: 340px;
    height: 230px;
    background-image: url(../img/ring001.jpg);
    background-size: cover;
    border: 2px solid yellow;

}

.products li:nth-of-type(3) {
    width: 340px;
    height: 230px;
    background-image: url(../img/ring001.jpg);
    background-size: cover;
    border: 2px solid yellow;

}

.products li:nth-of-type(4) {
    width: 340px;
    height: 230px;
    background-image: url(../img/ring001.jpg);
    background-size: cover;
    border: 2px solid yellow;

}

.products li:nth-of-type(5) {
    width: 340px;
    height: 230px;
    background-image: url(../img/ring001.jpg);
    background-size: cover;
    border: 2px solid yellow;

}

.products li:nth-of-type(6) {
    width: 340px;
    height: 230px;
    background-image: url(../img/ring001.jpg);
    background-size: cover;
    border: 2px solid yellow;

}