* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.css1 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    border-bottom: 3px solid blueviolet;
    padding: 5%;

}

.css2 {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    padding: 5%;
    text-align: center;

}