* {
    box-sizing: border-box;
}

.contact-formular div {
    padding: 0.2rem;
}

/* 
input[type="text"] {
    margin-left: 50px;

} */

/* align habe ich noch nicht geschaft */

.contact-formular {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text label {
    min-width: 150px;
}

.radio label {
    min-width: 150px;
    align-self: flex-end;


}



div {
    display: flex;
    justify-content: space-between;
}