* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --font-size-first-li: 2rem;
    --font-size-second-li: 1.5rem;
    --font-size-third-li: 0.8rem;
}


p,
h1 {
    color: red;
    margin: 10px;
}


.pets {
    border: 2px solid black;
    margin: 10px;
}

section ul {
    list-style: none;
}

li {
    line-height: 1.5em;
    padding-inline-start: 1.2em;
}


.pets li {
    font-size: var(--font-size-first-li);
}

.pets li li {
    font-size: var(--font-size-second-li);
}

.pets li li li {
    font-size: var(--font-size-third-li);
}




.dog li::before {
    content: "🐶";
    margin: 5px;

}

.cat li::before {
    content: "🐈";
    margin: 5px;

}

.parrot li::before {
    content: "🦜";
    margin: 5px;

}

.snake li::before {
    content: "🐍";
    margin: 5px;

}

.lizzard li::before {
    content: "🦎";
    margin: 5px;

}