*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
}

header {
    background-color: aqua;

}
header nav{
    text-align: right;
    position: fixed;
    background-color: aqua;
    top: 0;
    width: 100vw;
}

header nav ul li {
    display: inline-block;
    margin: 10px;  
    font-size: 2rem;  
}

header nav ul li a {
    
    margin: 10px;  
    font-size: 2rem;  
}

/* section:nth-of-type(1){
    height: 100vh;
    background-color: blue;
}

section:nth-of-type(2){
    height: 100vh;
    background-color:orange;
}

section:nth-of-type(3){
    height: 100vh;
    background-color: rgb(255, 123, 0);
}

.sticky_div {
    position: sticky;
    top: 20px;
} */


section div:nth-child(1){
    height: 50px;
    width: 50px;
    background-color: yellow;
    position: absolute;
    top: 40px;
    left: 120px;
}

section div:nth-child(2){
    height: 50px;
    width: 50px;
    background-color:  red;
    position: absolute;
    bottom: 40px;
    left: 120px;
}

section div:nth-child(3){
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
}
