*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}



:root{
    --first-font-family: Roboto;
    --main-font-size: 9rem;
    --main-color: white;
}


body{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bag-404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    font-family: var(--first-font-family);
}


h1 {
    text-align: center;
    color: var(--main-color);
    margin-top: 15vh;
    font-size: var(--main-font-size);
    font-family: var(--first-font-family);
}

h2{
    text-align: center;
    color: var(--main-color);
    font-family: var(--first-font-family);
    font-size: 2rem;
    margin: 5vh;

}

p{
    text-align: center;
    color: var(--main-color);
    font-family: var(--first-font-family);
    text-decoration: solid;
    text-transform: uppercase;
    margin-bottom: 50px;
}

p:first-child{
    margin-top: 20px;
    font-style: italic;
}

a{
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--main-color);
    font-family: var(--first-font-family);
    display: block;
    width: 200px;
    margin: 0 auto;
}

a:hover{
    background-color: black;
    color: aliceblue;
}