* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

:root {
    --font: Roboto;

}

main {
    height: 100vh;
    display: block;
    background-image: url(../img/bgd-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    font-family: var(--font);
    text-align: center;
}

article {
    padding: 5%;
    margin-left: 100px;
    margin-right: 100px;
    background-color: gray;
    border-radius: 5rem;
    opacity: 0.6;
}

h1 {
    font-size: 2rem;
    text-shadow: 3px 4px 5px white;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 30px;
}


h2 {
    font-size: 1.5rem;
}


p {
    font-size: 14px;
}

/* In dieser Übung werden wir alle Maßeinheiten verwenden.
Im Hintergrund befindet sich ein Bild, dass sich über die ganze Seite erstreckt: Nutze dafür 100vh.
Lade dir eine Schriftart über Google Fonts herunter und binde diese über @font-face ein.
Gib dem <main> ein padding von 5%.
Der <article> hat ein padding von 2%, ein margin links und rechts von jeweils 100px und ein border-radius von 5rem.
Die <h1> hat eine Schriftgröße von 2rem, ein text-shadow und ein padding auf der rechten und linken Seite von 15%.
Nutze für die <h2> die Schriftgröße 1.5em.
Der Text hat eine Schriftgröße von 14px. */