* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.section1 {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 5vh 5vh;
    grid-template-areas: "meniu meniu meniu meniu"
        "article article sideheader sideheader"
        "article article ad1 ad2";
    gap: 0.5rem;
    margin: 3rem;
}


div {
    border-radius: 3px;
}

.box1 {
    background-color: red;

    grid-area: meniu;

}

.box2 {
    background-color: blue;
    grid-area: article;

}

.box3 {
    background-color: green;
    grid-area: sideheader;
}

.box4 {
    background-color: violet;
    grid-area: ad1;
}

.box5 {
    background-color: rgb(73, 21, 73);
    grid-area: ad2;
}

.box6 {
    background-color: bisque;
    grid-area: footer;
}



.section2 {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh 5vh 15vh 5vh;
    grid-template-areas:
        "meniu meniu meniu meniu"

        "article article sideheader sideheader"
        "article article ad1 ad2"
        "footer footer footer footer"
    ;
    gap: 0.5rem;
    margin: 3rem;
}