* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    background-color: beige;
    width: 100vw;
    height: 100vh;
}

.box {
    width: 700px;
    height: 700px;
    border: 1px solid red;
    position: relative;
}

div:nth-last-of-type(1) {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: move 4s forwards infinite;
}


div:nth-last-of-type(2) {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: move 4s 1s forwards infinite;
}

div:nth-last-of-type(3) {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: move 4s 2s forwards infinite;
}


div:nth-last-of-type(4) {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: move 4s 3s forwards infinite;
}




@keyframes move {
    0% {
        transform: translateX(0px);
        background-color: red;
    }

    25% {
        transform: translateX(600px);
        background-color: blue;
    }

    50% {
        transform: translate(600px, 600px);
        background-color: rgb(255, 225, 0);
    }

    75% {
        transform: translateY(600px);
        background-color: rgb(0, 8, 255);
    }

    100% {
        transform: translateX(0px) translateY(0px);
        background-color: red;
    }
}