* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: Poppins-Black;
    src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}



:root {
    --font-size-h1: 3rem;
    --font-size-h2: 1.5rem;
    --font-family-h1: Poppins-Black;
    --font-family-h2: Poppins-Light;
    --fisrt-color: white;
}


body {
    background-image: url(../img/bgd-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

div {
    position: absolute;
    right: 10%;
    bottom: 70%;
    top: 15%;

}

div h1 {
    font-family: var(--font-family-h1);
    font-size: var(--font-size-h1);
    color: var(--fisrt-color);
    text-align: right;
    text-transform: uppercase;
}

div h2 {
    font-family: var(--font-family-h2);
    font-size: var(--font-size-h2);
    color: var(--fisrt-color);
    text-align: right;
}