* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}

html {
    font-family: "Poppins";

}

a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
}

/* wenn activ ist geht es nicht */
a:active {
    color: rgb(128, 1, 1);
}

a:hover {
    color: rgb(189, 187, 187);

}

body {
    background-image: url(../img/bgd.jpg);
    width: 100vw;
    background-size: cover;
}


main .login-singUp-formular {
    width: 400px;
    height: 600px;
    border: 3px solid white;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-radius: 15px;
    box-shadow: 4px 6px 30px 3px rgba(31, 31, 31, 0.228);
    justify-content: space-evenly;
}

main .login-singUp-formular .nav-meniu {
    display: flex;
    /* gap: 3rem; */
    padding: 1.5rem;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    text-align: center;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 60px;
    display: block;

}


main .login-singUp-formular .input-filed {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: flex-start;
    padding-left: 3rem;
    width: 90%;
}

.password {
    align-self: flex-start;
    padding-left: 3rem;

}

.password label {
    font-size: 0.9rem;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    align-self: flex-start;
    width: 100%;
    border: none;
    border-bottom: 1px solid #525252;
}


.login-register-button {
    padding-bottom: 5rem;
}



.login-register-button input[type="submit"] {
    padding: 0.5rem;
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    text-align: center;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    width: 20rem;
    color: white;
    border: none;


}

.login-register-button input[type="submit"]:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.245);
}

.fav-icons {
    display: flex;
    font-size: x-large;
    justify-content: space-evenly;
    gap: 2.3rem;
}

.facebook:hover {
    background-color: #52525244;
    box-shadow: 0 0 5px grey;
    /* box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.245); */
    border-radius: 15px;
}

.google:hover {
    background-color: #52525244;
    box-shadow: 0 0 5px grey;
    /* box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.245); */
    border-radius: 40px;
}

.twitter:hover {
    background-color: #52525244;
    box-shadow: 0 0 5px grey;
    /* box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.245); */
    border-radius: 15px;
}

/* Sign-Up- und Log-In-Formulare begegnen dir - wenn du darauf achtest - in ganz unterschiedlichen Formen und Designs. Hier kommt noch ein Beispiel. Versuche es nachzubauen.
Du kannst zwischen den Seiten "Login" und "Register" wechseln.
Nutze als Schriftfamilie "Poppins" von Google Fonts.
Gib deinem container, der weiß eingefärbt ist und in dem sich die restlichen Inhalte befinden, eine statische Breite von 600px und eine Höhe von 400px. */